header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.main-container {
	justify-content: center;
	min-height: calc(90vh - 70px);
	margin: 0;
}

.title {
	font-weight: bold;
	font-size: 116px;
	background: linear-gradient(45deg, rgb(63 60 60), rgb(242 231 231));
	background-position: 0 0;
	background-size: 150%;
	background-clip: text;
	transition: background-position 1.5s ease-in-out;
	-webkit-text-fill-color: transparent;

	&:hover {
		background-position: 100% 0;
		background-size: 150%;
		transition: background-position 1.5s ease-in-out;
	}
}

.title-url {
	font-size: 2em;

	&:hover {
		background-position: 100% 0;
		background-size: 150%;
		transition: background-position 1.5s ease-in-out;
	}
}

input[type='radio'] {
	display: none;
}

@media (width <=700px) {
	.options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		width: 100%;
		max-width: 550px;
		padding: 15px 0;
		background: white;
		border-radius: 30px;
	}

	.option-button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-width: 100px;
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
	}
}

@media (width <=500px) {
	.title {
		margin-bottom: 5vh;
		font-size: 72px;
	}

	.title-url {
		font-size: 20px;
	}

	.input-container {
		flex-direction: column;
		padding: 10px;
		border-radius: 20px;
	}

	.input-box {
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		text-align: center;
		border-radius: 20px;
	}

	.button {
		width: 100%;
		padding: 10px;
		font-size: 14px;
		border-radius: 20px;
	}

	.options {
		flex-direction: column;
		width: 100%;
		padding: 15px 0;
		border-radius: 20px;
	}
}
