.qrCodeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: linear-gradient(339deg, #ffffff, #e3d5fe);
	border-radius: 12px;
}

.qrCodeWrapper {
	display: flex;
	justify-content: center;
	padding: 16px;
	background-color: white;
	border: 1px solid rgb(123 104 238 / 10%);
	border-radius: 8px;
	box-shadow: 0 6px 16px rgb(123 104 238 / 30%);
}

.qrCode {
	display: block;
}
